$top-background: "/src/assets/images/header-background.jpg";
$intro-background: "/src/assets/images/intro-background.jpg";
$middle-background: "/src/assets/images/middle-background.jpg";
$bottom-background: "/src/assets/images/footer-background.jpg";