$margin-none: 0;

$padding-none: 0;

$text-right: right;
$text-left: left;
$text-center: center;

$border-solid: solid 1px black;

//center content
%center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

//black background color with white text
%black-and-white {
    color: black;
    background-color: white;
}

%white-and-black {
    color: white;
    background-color:rgba(0, 0, 0, 0.7);
}

%resume {
    font-size: 32px;
    background-color: white;
    color: black;
    padding: 6px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}

%movie {
    width: 100%;
    opacity: 0.2;
    position: absolute;
    height:100vh;
    z-index: -1;
    width: 80%;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0 100%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0 100%, 0% 25%);
}