$margin-none: 0;

$padding-none: 0;

$text-right: right;
$text-left: left;
$text-center: center;

$border-solid: solid 1px black;

//center content
%center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

//black background color with white text
%black-and-white {
    color: black;
    background-color: white;
}

%white-and-black {
    color: white;
    background-color:rgba(0, 0, 0, 0.7);
}