@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

$header-font-family: 'Lato', sans-serif;
$middle-font-family: 'Ubuntu', sans-serif;
$header-font-size: 70px;
$font-weight-bold: bold;
$font-weight-normal: normal;
$font-weight-lighter: lighter;

$intro-font-size: 20px;
$intro-font-size-p: 18px;
