//background-image
@mixin background-image(
    $imgpath, 
    $width, 
    $height, 
    $size: cover, 
    $position: center,
    $repeat: no-repeat
    ) {
        background-image: url($imgpath);
        width: $width;
        height: $height;
        background-size: $size;
        background-position: $position;
        background-repeat: $repeat;
    }

@mixin header-decoration(
    $top,
    $bottom,
    $border-top,
    $border-bottom
) {
    margin-top: $top;
    margin-bottom: $bottom;
    border-top: $border-top;
    border-bottom: $border-bottom;
}

//font size, weight, family
@mixin font-decoration(
    $size,
    $weight,
    $family,
    $location
) {
    font-size: $size;
    font-weight: $weight;
    font-family: $family;
    text-align: $location;
}

//portfoio
@mixin portfolio-border($property) {
    #{$property}: solid 1px #fff1b9;
}

@mixin add-space($property, $value) {
    #{$property}: $value;
}
