@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Dosis:500');

$header-font-family: 'Lato', sans-serif;
$middle-font-family:  'Dosis', sans-serif;

//header, main, title
$header-font-size: 70px;
$main-font-size: 50px;
$title-font-size: 40px;

$font-weight-bold: bold;
$font-weight-normal: normal;
$font-weight-lighter: lighter;

$font-underline: underline;    

//average font sizes
$largest-font-size: 22px;
$large-font-size: 20px;
$medium-font-size: 17px;
$small-font-size: 15px;
$smallest-font-size: 14px;
