@import 'base/_base.settings';
@import 'base/_base.mixins';
@import 'base/_base.pallet';
@import 'base/_base.images';
@import 'base/_base.fonts';

#contactBackground {
    @include background-image($bottom-background, 100vw, 100%);
    @extend %center-content;
    color: white;
    > #header { 
        text-align: $text-center;
        > div > a {
            color: white;
        }
    }
}