@import 'base/_base.settings';
@import 'base/_base.mixins';
@import 'base/_base.pallet';
@import 'base/_base.images';
@import 'base/_base.fonts';

#contactBackground {
    @include background-image($bottom-background, 100vw, 100%);
    @extend %center-content;
    color: white;
    > #header { 
        > h1 {
            @include font-decoration($header-font-size, $font-weight-lighter, $header-font-family, $text-center);
            @include add-space(margin-bottom, 20px);
            @include add-space(margin-top, -20px);
            // @extend %black-and-white;
        }

        > p:first-of-type {
            font-size: $large-font-size;
        }
        text-align: $text-center;
        > div > a {
            font-size: $large-font-size;
            color: white;
        }
    }
}

@media screen and (max-width: 991px) {
    #header > h1 { font-size: $main-font-size !important;}
}
@media screen and (max-width: 577px) {
    #contactBackground {background-size: unset !important;} 
}
