@import 'base/_base.settings';
@import 'base/_base.mixins';
@import 'base/_base.pallet';
@import 'base/_base.images';
@import 'base/_base.fonts';

#contactBackground {
    @include background-image($bottom-background, 100vw, 100%);
    @extend %center-content;
    color: white;
    > #header { 
        text-align: $text-center;

        > h1 {
            @include add-space(margin-bottom, 20px);
            @include font-decoration($header-font-size, $font-weight-normal, $header-font-family, $text-center);
            @include header-decoration(0, 0, solid)
        }

        > span{
            @include add-space(padding, 5px);
            @include font-decoration( $email-font-size, $font-weight-lighter, $header-font-family, $text-center);
        }
        
        > div {
            @include add-space(margin-top, 20px);
        }

        > div > a {
            font-size: $large-font-size;
            color: white;
            cursor: pointer;
        }
        img {
            width: 70px;
        }
        img:first-of-type {
            @include add-space(margin-right, 10px);
        }
    }
}

@media screen and (max-width: 991px) {
    #header > h1 { font-size: $main-font-size !important;}
    #header > span { font-size: 23px !important;}
}
