@import 'base/_base.settings';
@import 'base/_base.mixins';
@import 'base/_base.pallet';
@import 'base/_base.images';
@import 'base/_base.fonts';

#headerBackground {
    @include background-image($top-background, 100%, 100%);
    @extend %center-content;

    > #navContainer {
        @extend %nav-box;
        // nav marker
        > div {
            font-size: 30px;
            > ul {
                font-size: $small-font-size;
                color: $nav-color;
                > li {
                    @extend %nav-li;
                }
                > li:hover {
                    color: black;
                }
                > li:hover:before {
                    width: 180%;
                }
                >li:before {
                    @extend %nav-li-before;
                }
            }
        }
    }

    > #header {
        .myName {
            @include font-decoration($header-font-size, $font-weight-normal, $header-font-family, $text-center);
            @include header-decoration(0, 0, solid);
            -webkit-animation: myName 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: myName 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        }
        @-webkit-keyframes myName {
            0% {
              letter-spacing: 1em;
              opacity: 0;
            }
            40% {
              opacity: 0.6;
            }
            100% {
              letter-spacing: normal;
              opacity: 1;
            }
          }
          @keyframes myName {
            0% {
              letter-spacing: 1em;
              opacity: 0;
            }
            40% {
              opacity: 0.6;
            }
            100% {
              letter-spacing: normal;
              opacity: 1;
            }
          }
          
        > p {
            text-align: $text-center;
        }
    }
    
}

@media screen and (max-width: 991px) {
    #header > h1 { font-size:$main-font-size !important}
}

