@import 'base/_base.settings';
@import 'base/_base.mixins';
@import 'base/_base.pallet';
@import 'base/_base.images';
@import 'base/_base.fonts';

#introBackground{
        //container    
        > div { 
            //flex container
            > div {
                @extend %center-content;
                height: 100%;
                //row
                > div {
                    .introTextContainer { 
                        text-align: center;
                        > h4 {
                            color: #000000;
                            @include font-decoration($small-font-size, $font-weight-lighter, $header-font-family, $text-center);
                        }
                        > p {
                            font-size: $medium-font-size;
                            color:black;
                        }
                    }
                    
                }
            }
        }
}

@media screen and (max-width: 991px) {
    #introBackground {@include add-space(margin-top, 30px)}
    #whoAmI {font-size: $large-font-size !important; width: 100% !important;}
    .introTextContainer { 
        @include add-space(padding-right, 5px);
        @include add-space(padding-left, 5px);
        > h4 { font-size: $smallest-font-size !important;}
        > p {font-size: $small-font-size !important;}
    } 
}