@import 'base/_base.settings';
@import 'base/_base.mixins';
@import 'base/_base.pallet';
@import 'base/_base.images';
@import 'base/_base.fonts';

#introBackground{
    @include background-image($intro-background, 100vw, 100%);
        //container    
        > div { 
            //flex container
            > div {
                @extend %center-content;
                height: 100%;
                //row
                > div {

                    .quotationMark {
                        @include font-decoration($title-font-size, $font-weight-lighter, $middle-font-family, $text-center);
                        @include add-space(margin-bottom, $margin-none);
                        color: $color-who-am-i;
                    }

                    #whoAmI {
                        @include font-decoration($largest-font-size, $font-weight-bold, $middle-font-family, $text-center);
                        color: $color-who-am-i;
                        @include add-space(padding, 10px);
                        @include add-space(margin, auto);
                        @include add-space(margin-top, -30px);
                        @include add-space(margin-bottom, -15px);
                        width:70%;
                    }

                    .introTextContainer { 
                        text-align: center;
                        > h4 {
                            color: #246897;
                            @include font-decoration($small-font-size, $font-weight-lighter, $header-font-family, $text-center);
                            // > span {
                                
                            // } 
                        }
                        > p {
                            font-size: $medium-font-size;
                        }
                    }
                    
                }
            }
        }
}

@media screen and (max-width: 991px) {
    #introBackground {@include add-space(margin-top, 30px)}
    #whoAmI {font-size: $large-font-size !important; width: 100% !important;}
    .introTextContainer { 
        @include add-space(padding-right, 5px);
        @include add-space(padding-left, 5px);
        > h4 { font-size: $smallest-font-size !important;}
        > p {font-size: $small-font-size !important;}
    } 
}