@import 'base/_base.settings';
@import 'base/_base.mixins';
@import 'base/_base.pallet';
@import 'base/_base.images';
@import 'base/_base.fonts';

#portfolioBackground {
    @include background-image($middle-background, 100vw, 100%);
    @extend %center-content;
    > #portfolioHeader {
        > h1 {
            @include font-decoration($header-font-size, $font-weight-lighter, $header-font-family, $text-center);
        }
        > p {
            text-align: $text-center;
            > a {
                @extend %white-and-black;
                @include add-space(padding, 9px);
                cursor: pointer;
            }
            > a:hover {
                @extend %black-and-white;
                text-decoration: none;
            }
        }
    }
    
}